.container-fluid{

background-color: lightpink;
height:657px;
width: 100%;
}
.table{
 
     margin-top: 5px;
     border:0px !important; 
}
.tooltip {
     position: relative;
     display: inline-block;
     border-bottom: 1px dotted black;
   }
   
   .tooltip .tooltiptext {
     visibility: hidden;
     width: 120px;
     background-color: black;
     color: #fff;
     text-align: center;
     border-radius: 6px;
     padding: 5px 0;
   
     /* Position the tooltip */
     position: absolute;
     z-index: 1;
   }
   
   .tooltip:hover .tooltiptext {
     visibility: visible;
   }